<h1 class="text-2xl md:text-3xl text-gray-100 font-bold mb-1 mt-5 text-center">Welcome to the Bloody Survival Shop 👋
</h1>

<p style="text-align:center;"><span style="font-family:Tahoma, Geneva, sans-serif;font-size:24px;">Running a server this
        awesome isn&#39;t cheap. All donations go toward server costs (i.e. developing plugins, advertising and hosting
        fees), as well as keeping the admin-team fed. We hope you understand. &nbsp;If you have any concernes or
        questions, feel free to contact us on Discord.&nbsp;</span></p>

<p style="text-align:center;">
    <br>
</p>
<div class="grid grid-cols-1 md:grid-cols-3 w-full gap-4">
    <div class="bg-gray-800 rounded-md shadow-lg" style="background-color:#18181B;">
        <div class="p-5"><img class="rounded-lg fr-fic fr-dii"
                src="https://dunb17ur4ymx4.cloudfront.net/packages/images/07c888bccd31aef99b01e94ac0d9c444624d9861.png"
                alt="07c888bccd31aef99b01e94ac0d9c444624d9861.png" width="190" height="165">

            <h1 class="text-gray-50 text-lg font-semibold mt-2 truncate">Free LootBox</h1>

            <p class="text-gray-400 text-sm mb-5">
                <br>
            </p><a class="w-full bg-gradient-to-r from-red-800 to-red-700 text-white rounded shadow-md px-4 py-1"
                href="/package/3376226">View</a>
        </div>
    </div>
    <div class="bg-gray-800 rounded-md shadow-lg" style="background-color:#18181B;">
        <div class="p-5"><img class="rounded-lg fr-fic fr-dii"
                src="https://dunb17ur4ymx4.cloudfront.net/packages/images/847c7639bd64c85bbf364c2da534bcb633738ff1.png"
                alt="07c888bccd31aef99b01e94ac0d9c444624d9861.png" width="190" height="165">

            <h1 class="text-gray-50 text-lg font-semibold mt-2 truncate">Free LootBox</h1>

            <p class="text-gray-400 text-sm mb-5">
                <br>
            </p><a class="w-full bg-gradient-to-r from-red-800 to-red-700 text-white rounded shadow-md px-4 py-1"
                href="/package/3376226">View</a>
        </div>
    </div>
    <div class="bg-gray-800 rounded-md shadow-lg flex items-center" style="background-color:#18181B;">
        <div class="p-5"><img class="rounded-lg fr-fic fr-dii"
                src="https://dunb17ur4ymx4.cloudfront.net/packages/images/bc19503d220795f87ce447786971812b794361e3.png"
                alt="07c888bccd31aef99b01e94ac0d9c444624d9861.png" width="190" height="165">

            <h1 class="text-gray-50 text-lg font-semibold mt-2 truncate text-center">&nbsp; &nbsp; &nbsp; &nbsp;FREE LOOTBOX (PVPVE CLUSTER) &nbsp; &nbsp; &nbsp;</h1>

            <p class="text-gray-400 text-sm mb-5">
                <br>
            </p><a class="w-full bg-gradient-to-r from-red-800 to-red-700 text-white rounded shadow-md px-4 py-1"
                href="/package/3376226">View</a>
        </div>
    </div>
</div>

<p style="text-align:center;">
    <br>
</p>

<p style="text-align:center;">
    <br>
</p>

<p style="text-align:center;"><span style="font-family:Tahoma, Geneva, sans-serif;"><span
            style="font-size:24px;"><strong>All purchases made 2 weeks before wipe announcement will automatically
                receive their packages 72 hours after season start and you also will get 20% of the donations as a
                coupon.</strong></span></span></p>

<p style="text-align:center;"><span style="font-family:Tahoma, Geneva, sans-serif;"><span
            style="font-size:18px;"><br></span></span></p>

<p style="text-align:center;"><span style="font-family:Tahoma, Geneva, sans-serif;"><span
            style="font-size:18px;"><br></span></span></p>

<p>
    <br>
</p>